html, body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #262c3b;
}

.App {
  /* This scales the canvas to the viewport size */
  transform-origin: top center;
}

.canvas-container {
  position: static;
  transform-origin: top center;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 414px){
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

#resumeCanvas {
  position: static;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-color: #fff;

  /* This scales the pixels to the canvas */
  transform-origin: top center;
  margin-bottom: 100vh;
}


.colorBar {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
  height: 3vh;
  background-color: transparent;
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: 2vh;
  transform-origin: bottom left;
}

.colorButton {
  flex-basis: calc((90vw / 16) - 5px);
  width: min(calc((90vw / 16) - 5px), calc((10vh / 2) - 5px));
  height: min(calc((90vw / 16) - 5px), calc((10vh / 2) - 5px));
  max-height: 50px;
  min-height: 15px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin: calc(5px / 16);
}
