html, body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #262c3b;
}

.App {
  /* This scales the canvas to the viewport size */
  transform-origin: top center;
}

.canvas-container {
  position: static;
  transform-origin: top center;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 414px){
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

#resumeCanvas {
  position: static;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-color: #fff;

  /* This scales the pixels to the canvas */
  transform-origin: top center;
  margin-bottom: 100vh;
}


.color-picker-panel {
  position: fixed;
  top: 20%;
  right: -240px;
  width: 240px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.color-picker-panel.open {
  right: 0;
}

.picker-tab {
  position: absolute;
  left: -30px;
  top: 0;
  height: 40px;
  width: 30px;
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (max-width: 768px) {
  .color-picker-panel {
    width: 80vw;
    right: -80vw;
  }

  .color-picker-panel.open {
    right: 0;
  }

  .picker-tab {
    left: -30px;
  }
}